#canvas {
  background-color: green
}

.title {
  text-align: center;
}

.game-box {
  border: 3px solid green;
  margin: 0 auto;
  display: block;
}

.score-box {
  margin: 5px auto;
  display: block;
  width: 280px;
}
